
   
      <div class="post">
        
        <h3>{{title}}</h3>

        <div class="bottom_post">
        by {{user.username}} on
        {{format_date created_at}}
        <h1>this is the post {{post-text}}</h1>
        <a href="/post/{{id}}" class="comment_link">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>

      </div>
    