
    <article class="post">
      <div class="title">
        
        <h3>{{title}} from {{user.persona}}</h3>


      
      <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
      </div>
    </article>