<article class="post">
  <div class="title">
    <h1 style="color:black">{{post.title}}</h1>
    
  </div>
  <div class="bottom-post" style="color:black">
    By {{post.user.username}} on
    {{format_date post.created_at}}
    |
    <br></br>
    <a href="#comment_section">{{post.comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

<div id="comment_section" class="comments">
  {{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}